<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Orders Management</h1>

    <a href="/create" class="create-btn">+ Create Order</a>

    <ul>
        {% for order in orders %}
        <li>
            <div class="order-info">
                <strong>#{{ order.order_number }}</strong>
                {{ order.customer_name }}
                {{ order.total_price }}
                {{ order.order_date }}
            </div>

            <div class="actions">
                <a href="/edit/{{ order.id }}" class="edit">Edit</a>
                <a href="/delete/{{ order.id }}" class="delete">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
